{% extends 'publicbase.html' %} {% load static %} {% block title %}Cadastro
Disparador{%endblock%} 
{% block estilo %}
<style>
    div.container.container-cad#main-container {
        max-width: 50%;
    }
</style>
{% endblock %}
{% block content %}

<div class="container container-cad" id="main-container">
    {% if messages %} {% for message in messages %}
  <div class="alert {{message.tags}} stilo-message">{{message}}</div>
  {% endfor %} {% endif %}
  <div class="container nav_tabs">
    <h3
      class="my-0"
      style="background: #e54e43; text-align: center; color: white"
    >
    Esqueci minha senha
</h3>

    <!--FORM1-->
    <form
      class="bg-white p-1"
      method="POST"
      >
      {% csrf_token %}
      
      <div class="container">
          <div class="row form-dep py-0 d-flex justify-content-center">
              <div class="col-md-8 py-2">
                  <label for="{{ form.email.auto_id }}" class="form-label">Email para Redefinição</label>
                  <input type="text" class="form-control" name="{{ form.email.name }}" required id="{{ form.email.auto_id }}"/>
                </div>
            </div>
            <div class="row form-dep py-0 d-flex justify-content-center">
                <div class="col-md-8 py-2">
                    <input
                    type="submit"
                    class="btn btn-primary mb-3 my-2 w-100"
                    style="background: #e54e43;border: none;"
                value="Redefinir"
            />
        </div>
    </div>
</div>
</form>
</div>
</div>

{% endblock %}